{% extends 'base.html' %}

{% block body %}

<br><br>
    {% if 'username' in session %}
        <form class="form-inline" role="form" method="POST" action="{{url_for('createquote')}}">
        <textarea type="text" class="form-control mb-2 mr-sm-2" style="width:80%;" placeholder="Write anything" name="content" required></textarea>
        
        <button type="submit" class="btn btn-primary mb-2">Submit</button>
    </form>
    {% endif %}

    
    {% include "results.html" %}
    
    
{% endblock %}